@import '../../styles/utils/vars.scss';

#dialog-title {
  font-weight: 600;
  height: 20px;
  color: $primary-color;
  background-color: #FFF;
}

#dialog-content {
  padding-top: 20px;
}

#dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  font-weight: 600;

  &__link {
    display: flex;
    height: 48px;
    width: 200px;
    font-weight: 700;
    color:#FFF;

    background-color: $primary-color;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
