@import '../../styles/utils/vars.scss';
@import '../../styles/blocks/logo.scss';
@import '../../styles/utils/mixins';
@import '../../styles/blocks/Nav.scss';

.header {
  &__container {
      position: fixed;
    top: 0;
    right: 0;
    left: 0;

    align-items: center;
    padding: 0px;

    height: 48px;

    background: #FFFFFF;
    box-shadow: 0px 1px 0px $element-color;

    @media (min-width: 640px) {
      display: flex;
      gap: 32px;
    }

    @media (min-width: 1200px) {
      height: 64px;
      gap: 48px;
    }
  }

  &__icons {
    display: none;
    &--is-visible {
      position: fixed;
      bottom: 0;
 
      display: flex;
      padding-top: 100%;
      width: 100%;
  }
    
    @include onTablet {
      position: absolute;
      right: 0;
       top: 0;
       display: flex;
       padding: 0;
       width: auto;
    }
  }
}

.icon {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 80px;

  background-color: #FFF;
  box-shadow: -1px -1px 0px $element-color;

  background-repeat: no-repeat;
  background-position: center;

   @include onTablet {
    width: 48px;
    height: 48px;
  }

  @include onDesktop {
    width: 64px;
    height: 64px;
  }

  &--menu {
    position: absolute;
    right: 0;
    top: 0;

    display: inline-block;
    box-sizing: border-box;

    width: 48px;
    height: 48px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/header/menu-icon.svg');

    cursor: pointer;
    background-color: #FFF;
    box-shadow: -1px 0px 0px $element-color;

    &-cross {
      background-image: url('../../images/header/cross-icon.svg');
    }

    @media (min-width: 640px) {
      display: none;
    }
  }
  
  &--heart-like {
    // position: relative;
    background-image: url(../../images/header/icon--heart-like.svg);

    &--is-active {
      border-bottom: 2px solid $primary-color;

      @include onTablet {
        border-bottom: 3px solid $primary-color;
      }
    }

    // &::before {
    //   position: absolute;
    //   top: 10%;
    //   right: 20%;
    //   background-color: #FFF;
    //   position: relative;
    // top: -6px;
    // right: 1px;

   
    // }
  }

  &--shopping-bag {
    background-image: url(../../images/header/icon-Shopping-bag.svg);

    &--is-active {
      border-bottom: 2px solid $primary-color;

      @include onTablet {
        border-bottom: 3px solid $primary-color;
      }
    }
  }

  &__quantity {
   display: flex;
   position: absolute;
   top: 34%;
   right: 45%;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;

    text-decoration: none;
    background-color: #EB5757;
    color: #FFF;
    border-radius: 50%;

    font-weight: 700;
    font-size: 9px;
    line-height: 12px;

    @include onTablet {
      top: 22%;
      right: 20%;
    }

    @include onDesktop {
      top: 30%;
      right: 27%;
    }
  }
}
